<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <style>
    #divCocktails{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  </style>
  <body>

    <div class="container">
        
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand">My Cocktails</a>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>

        <br><br>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Crea cocktail
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Inserisci i dati del cocktail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                
                <form class="row g-3">
                  <div class="col-md-4">
                    <input type="text" class="form-control" id="name" placeholder="Nome cocktail" required>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select" id="typology" required>
                      <option selected disabled value="">Tipologia</option>
                      <option>Amaro</option>
                      <option>Aspro</option>
                      <option>Dolce</option>
                      <option>Forte</option>
                      <option>Fruttato</option>
                      <option>Salato</option>
                      <option>Soave</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <input type="text" class="form-control" id="glassType" placeholder="Tipo bicchiere" required>
                  </div>
                  <div class="col-md-6 mb-2">
                    <textarea class="form-control" id="history" rows="1" placeholder="Storia cocktail"></textarea>
                  </div>
                  <hr>
                  <div class="col-md-5">
                    <input type="text" class="form-control" id="nameIngr1" placeholder="Nome ingrediente" required>
                  </div>
                  <div class="col-md-3 mb-0">
                    <input type="text" class="form-control" id="oz1" placeholder="OZ" required>
                  </div>
                  <div class="col-md-3">
                    <input type="number" class="form-control" id="cl1" placeholder="CL" required>
                  </div>
                  <br>
                  <div class="col-md-5">
                    <input type="text" class="form-control" id="nameIngr2" placeholder="Nome ingrediente" required>
                  </div>
                  <div class="col-md-3 mb-0">
                    <input type="text" class="form-control" id="oz2" placeholder="OZ" required>
                  </div>
                  <div class="col-md-3">
                    <input type="number" class="form-control" id="cl2" placeholder="CL" required>
                  </div>
                  <hr>
                  <div class="col-md-4">
                    <select class="form-select" id="method" required>
                      <option selected disabled value="">Metodo</option>
                      <option>Build</option>
                      <option>Build_Layer</option>
                      <option>Dry_shake</option>
                      <option>Neat</option>
                      <option>Shake_Strain</option>
                      <option>Stir_Strain</option>
                      <option>Throwing</option>
                    </select>
                  </div>
                  <div class="col-md-8 mb-2">
                    <textarea class="form-control" id="prepDefault" rows="3" placeholder="Preparazione"></textarea>
                  </div>
                  <div class="col-md-6 mb-2">
                    <textarea class="form-control" id="variant1" rows="1" placeholder="Variante 1"></textarea>
                  </div>
                  <div class="col-md-6 mb-2">
                    <textarea class="form-control" id="variant2" rows="1" placeholder="Variante 2"></textarea>
                  </div>
                  <hr>
                  <div class="col-md-5">
                    <input type="text" class="form-control" id="nameDeco1" placeholder="Nome decorazione" required>
                  </div>
                  <div class="col-md-6 mb-2">
                    <textarea class="form-control" id="prepDeco1" rows="1" placeholder="Preparazione"></textarea>
                  </div>
                  <div class="col-md-5">
                    <input type="text" class="form-control" id="nameDeco2" placeholder="Nome decorazione" required>
                  </div>
                  <div class="col-md-6 mb-2">
                    <textarea class="form-control" id="prepDeco2" rows="1" placeholder="Preparazione"></textarea>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-primary" type="submit" id="btnSendData" onclick="addCard()">Submit form</button>
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <div id="divCards">
          <div class="container mt-5" id="divCocktails">

          </div>
        </div>

      </div>
      
    <script src="/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
